.container {

}
.jumbo {
	height: 250px;
	
	background-image: url("../assets/images/pixar2.jpg");
	background-repeat: no-repeat;

}
.main {
	text-align: left;
	
}

.empty {
	text-align: center;
	font-family:'Permanent Marker', cursive;
	height: 80px;
	font-size: 54px;
	color: #00FFFF;
}

#button {
	
	font-size: 42px;
	color: black;
	background-color: #7FFF00;	
}

#end {
	font-family:'Permanent Marker', cursive;
	font-size: 42px;
	color: black;
	background-color: red;
}

.row1 {
	height: 150px;
	font-family: 'Galdeano', sans-serif;
	font-size: 22px;

}
.row2 {
	height: 150px;
	font-family: 'Galdeano', sans-serif;
	font-size: 22px;

}
.row3 {
	height: 150px;
	font-family: 'Galdeano', sans-serif;
	font-size: 22px;
}
.row4 {
	height: 150px;
	font-family: 'Galdeano', sans-serif;
	font-size: 22px;
}
.row5 {
	height: 150px;
	font-family: 'Galdeano', sans-serif;
	font-size: 22px;
}
#timer {
	text-align: center;
	font-family:'Permanent Marker', cursive;
	font-size: 44px;
}
footer { 
	font-size: 18px;
	text-align: center;
	max-width: 100%;
	bottom: 0px;
	left: 0px;
	border-width: 5px 0px 0px 0px;
	border: solid;
	border-color: grey;
	background-color: grey;
	color: white;
 }